# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.unity-template.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Dev\Projects\unity-template\.idea\.idea.unity-template\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
